/* style for product image  */
.product img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
    
}


/* simple style color for product price  */
.price {
    color: brown;
    
}

.product {
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;

};


/* style for product name  */
.productName {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 5px;
    line-height: 25px;
    letter-spacing: 0.0015em;
}

.product-info {
    margin-left: 14px;
    margin-top: 5px;
}

/* margin from price to seller  */
.seller {
    margin-top: 47px;
    margin-bottom: 11px;
}

/* button css  */
.add-cart {
    width: 100%;
    background: #FFE0B3;
    border-radius: 0px 0px 8px 8px;
    height: 48px;
    position: absolute;
    border: none;
    bottom: 0;
}
.add-cart:hover {
    background-color: orange;
}

/* margin between button & p tag  */
.rating {
    margin-bottom: 11px;
}